Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Book1.csv")

In [4]:
df.columns

Index(['series'], dtype='object')

In [8]:
df.series

0     4
1    15
2    16
3    23
4    42
Name: series, dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [21]:
df1 = pd.read_csv("Book2.csv")

In [23]:
import pandas as pd

In [25]:
pd.Series("df1")

0    df1
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:

In [27]:
import pandas as pd

In [29]:
df2 = pd.read_csv("Book3.csv")

In [31]:
df2[['Name','Age','Gender']]

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [33]:
"""the other hand, is a two-dimensional structure with columns and rows whose size can be changed. You can also think of it as a dictionary of Series objects. The data parameter can take any of the following data types: Dictionary (dict) of – 1D ndarray, lists, or Series"""

'Pandas DataFrame, on the other hand, is a two-dimensional structure with columns and rows whose size can be changed. You can also think of it as a dictionary of Series objects. The data parameter can take any of the following data types: Dictionary (dict) of – 1D ndarray, lists, or Series'

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [34]:
"""Some common functions that can be used to manipulate data in a Pandas DataFrame include:"""

'Some common functions that can be used to manipulate data in a Pandas DataFrame include:'

In [35]:
"""head(): This function returns the first n rows of the DataFrame. It can be useful to quickly check the structure of a DataFrame."""

'head(): This function returns the first n rows of the DataFrame. It can be useful to quickly check the structure of a DataFrame.'

In [37]:
import pandas as pd
df = pd.read_csv('Book1.csv')
df.head(10) # returns the first 10 rows of the DataFrame

   series
0       4
1      15
2      16
3      23
4      42

In [38]:
"""tail(): This function returns the last n rows of the DataFrame."""

'tail(): This function returns the last n rows of the DataFrame.'

In [39]:
import pandas as pd
df = pd.read_csv('Book2.csv')
df.tail(10) # returns the last 10 rows of the DataFrame

      name
0   Ankush
1    rahul
2   avijit
3     monu
4     sonu
5    rohit
6     soni
7     kalu
8  kirmada

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [40]:
"""In pandas library, Series and DataFrame are mutable in nature, while Panel is immutable.

Mutable objects are those objects that can be modified after they are created, while immutable objects cannot be modified once they are created.

So, in Pandas, you can modify the values of a Series or DataFrame after it is created, but you cannot modify the values of a Panel after it is created."""

'In pandas library, Series and DataFrame are mutable in nature, while Panel is immutable.\n\nMutable objects are those objects that can be modified after they are created, while immutable objects cannot be modified once they are created.\n\nSo, in Pandas, you can modify the values of a Series or DataFrame after it is created, but you cannot modify the values of a Panel after it is created.'

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [41]:
import pandas as pd

# Create a Series for the first column of the DataFrame
names = pd.Series(['John', 'Alice', 'Bob', 'Mary'])

# Create a Series for the second column of the DataFrame
ages = pd.Series([28, 23, 35, 41])

# Create a Series for the third column of the DataFrame
cities = pd.Series(['New York', 'Boston', 'Chicago', 'Los Angeles'])

# Create the DataFrame using the above Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'City': cities})

# Display the DataFrame
print(df)

    Name  Age         City
0   John   28     New York
1  Alice   23       Boston
2    Bob   35      Chicago
3   Mary   41  Los Angeles